<%- include('partials/header', {title:"Spelling Bee: Create Player",user}) -%>
<main>
  
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#MainScreen">
   Modify Screen1
  </button>
 
<div class="modal fade" id="MainScreen" tabindex="-1" aria-labelledby="MainScreen" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Screen1</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            
            <input type="text" placeholder="name" name="name" />
            <input type="text" placeholder="image url" name="image url" />
              <button type="submit" class="btn btn-primary">Submit</button>
           </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>


  <h2>Accounts</h2>
  <table>
    <tr>
       <th>
        Name
       </th>
      <th>
        Winning
      </th>
      <th>
        Losing
      </th>
      <th>
        Tie
      </th>
      <th>
        Last Update
      </th>
      <th>
        First LogIn 
      </th>
      <th>
        #Games
      </th>
      <th>
        #Logins
      </th>
      <th>
        Role
      </th>
      <th>Action</th>
    </tr>
    <%for(let row of rows){%>
    <tr>
      <td>
        <%=row['name']%>
      </td>
      <td>
        <%=row['wins']%>
      </td>
      <td>
        <%=row['losses']%>
      </td>
      <td>
        <%=row['ties']%>
      </td>
      <td>
        <%=row['recentUpdate']%>
      </td>
      <td>
        <%=row['firstLogin'] %>
      </td>
      <td>
        <%=row['numberOfGames']%>
      </td>
      <td>
        <%=row['numberOfLogins']%>
      </td>
      <td>
        <%=row['role']%>
      </td>
      <td>
        <select onchange='selectAction(event, `<%=row["uid"]%>`)'>
            <option value="none"> 
               ----
            </option>
            <option value="promote">
                Promote
            </option>
            <option value="demote">
               Demote
            </option>
        
        </select>
      </td>
    </tr>
    <%}%>
   
</table>
    <div class="container create-player">
      
     
      <div class="row">
        <button  class="col-3 mx-auto my-3" id="apply">Apply</button>
      </div>
    </div>
  
</main>
<script>
    let selection={}
    function selectAction(event,uid){
      selection[uid]=event.target.value
      //localStorage
    }
    document.getElementById("apply").addEventListener("click",()=>{
       fetch("/applyAdminActions",{
        method:"post",
        headers:{
        'Content-type':'application/json',
        },
        body:JSON.stringify(selection)
       }).then(()=>{
        window.location.reload()
       })
    })

</script>
<%- include('partials/footer') -%>
