<%- include('partials/header', {title:"Do Good information: Home",user:user}) -%>
<main>
  <% if(!user) {%>
    <%- include('partials/auth') -%>
  <%}%>
  
  <% if(user) {%>
    <h1>Topics</h1> <br>
    <div id="topics"></div>

  <%}%>

</main>



<script>
   //let level=document.getElementById("level").value
   //let category=document.getElementById("category").value
   //alert(category);
   
  fetch("/topics/<%=level%>/<%=category%>/<%=source%>").then(res=>res.text()).then(topics=>{
   document.getElementById("topics").innerHTML=topics
  })


</script>
<%- include('partials/footer') -%>