<%- include('partials/header', {title:"Spelling Bee: Player Details",user}) -%>

<h2>Player - <%=player.name%></h2>

<table>
  <tr>
    <th>
      Name:
    </th>
    <td>
      <%=player.name%>
    </td>
  </tr>
  <tr>
    <th>
      Wins:
    </th>
    <td>
      <%=player.win%>
    </td>

  </tr>
  <tr>
    <th>
      Losses:
    </th>
    <td>
      <%=player.lose%>
    </td>
  </tr>
  <tr>
    <th>
      Ties:
    </th>
    <td>
      <%=player.tie%>
    </td>
  </tr>

  <tr>
    <th>
      Longest Word:
    </th>
    <td>
      <%=player.longestWord%>
    </td>

  </tr>
</table>
<h1>Games History</h1>
<table>
  <tr>
    <th>
      Game Link:
    </th>
  </tr>

  <%for(let i=0 ;i<player.games.length ;i++){ %>


  <tr>

    <th>
      <a href="/games/<%=player.games[i]%>">
        <%=i+1%>
      </a>
    </th>
  </tr>

  <%}%>

</table>
<%- include('partials/footer') -%>